html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  @include opensans();
  background-color: clr(white-color);
  color: clr(text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.header,
.footer {
  flex: 0 0 auto;
}
/* *******************************
CONTAINER
******************************* */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;

  &.container__fluid {
    max-width: 1920px;
  }
}
/* *******************************
TITLE
******************************* */
.title {
  @include montserrat();
  color: clr(title-color);
}
/* *******************************
NAVIGATION
******************************* */
.nav {
  &__list {
    display: flex;
    align-items: center;
  }
  &__list:last-of-type {
    margin-right: 45px;
  }
  &__list-item {
  }
  &__list-item:not(:last-child) {
    margin-right: 80px;
  }
  &__list-link {
    display: block;
    font-size: fz(sm);
    line-height: 1.375;
  }
}
/* *******************************
LOGO
******************************* */
.logo {
  width: 194px;
  height: 58px;
  padding: 0 15px;
  box-sizing: content-box;
  &__img {
    height: 100%;
    object-fit: cover;
  }
}
/* *******************************
HOVER-LINK
******************************* */
.hover-link {
  span {
    position: relative;
    display: block;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: rgba(clr(title-color), 0.7);
      border-radius: 1px;
      transform: scale(0);
      @include transit(transform);
    }
  }

  &.active {
    span::before {
      transform: scale(1);
    }
  }

  &:hover span::before {
    transform: scale(1);
  }
}
/* *******************************
SUBSCRIBE
******************************* */

/* *******************************
SOCIAL-MEDIA
******************************* */

/* *******************************
SLICK-DOTS
******************************* */

/* *******************************
COLLECTION
******************************* */

/* *******************************
EMAIL LINK
******************************* */

/* *******************************
FEEDBACK
******************************* */
