html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  @include opensans();
  background-color: clr(white-color);
  color: clr(text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}
/* *******************************
CONTAINER
******************************* */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;

  &.container__fluid {
    max-width: 1920px;
  }
}
/* *******************************
TITLE
******************************* */

/* *******************************
LOGO
******************************* */

/* *******************************
LINK-HOVER
******************************* */

/* *******************************
SUBSCRIBE
******************************* */

/* *******************************
SOCIAL-MEDIA
******************************* */

/* *******************************
SLICK-DOTS
******************************* */

/* *******************************
COLLECTION
******************************* */

/* *******************************
EMAIL LINK
******************************* */

/* *******************************
FEEDBACK
******************************* */
