html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  @include opensans();
  background-color: clr(white-color);
  color: clr(text-color);
}
/* *******************************
SITE SKELETON 
******************************* */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.header,
.footer {
  flex: 0 0 auto;
}
/* *******************************
PRIMARY CLASSES
******************************* */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* *******************************
CONTAINER
******************************* */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;

  &.container__fluid {
    max-width: 1920px;
  }
}
/* *******************************
TITLE SLOGAN
******************************* */
.montserrat {
  @include montserrat(fz(sm), 1.69);
  color: clr(title-color);
}

.title {
  @extend .montserrat;
  font-size: fz(xl);
  line-height: 1.417;
}

.slogan {
  &__title {
    position: relative;
    @extend .title;
    padding-bottom: 15px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 200px;
      height: 2px;
      background-color: clr(title-decor);
      border-radius: 1px;
    }
  }

  &__subtitle {
    padding-top: 20px;
  }

  &--center {
    .slogan__title,
    .slogan__subtitle {
      text-align: center;
    }
    .slogan__title::after {
      right: 0;
      margin: 0 auto;
    }
  }
}
/* *******************************
NAVIGATION
******************************* */
.nav {
  &__list {
    display: flex;
    align-items: center;
  }
  &__list:last-of-type {
    margin-right: 45px;
  }
  &__list-item:not(:last-child) {
    margin-right: 80px;
  }
  &__list-link {
    display: block;
    font-size: fz(sm);
    line-height: 1.375;
    white-space: nowrap;
  }
}
/* *******************************
LOGO
******************************* */
.logo {
  width: 194px;
  height: 58px;
  padding: 0 15px;
  box-sizing: content-box;

  &__img {
    height: 100%;
    object-fit: cover;
  }
}
/* *******************************
HOVER-LINK
******************************* */
.hover-link {
  span {
    position: relative;
    display: block;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: rgba(clr(title-color), 0.7);
      border-radius: 1px;
      transform: scale(0);
      @include transit(transform);
    }
  }

  &.active {
    span::before {
      transform: scale(1);
    }
  }

  &:hover span::before {
    transform: scale(1);
  }
}
/* *******************************
BUTTON
******************************* */
.button {
  width: 160px;
  font-weight: fw(semi-bold);
  color: clr(buttun-color);
  padding: 6px 12px;
  background-color: clr(title-color);
  text-align: center;
  border-radius: 21px;
  &-small {
    width: 130px;
  }
}
/* *******************************
FORM
******************************* */
.form {
  display: flex;
  align-items: center;
  &__input {
    flex: 1;
    border: 1px solid rgba(clr(title-color), 0.7);
    border-radius: 21px;
    color: clr(copyrait-color);
    background-color: transparent;
    padding: 6px 10px 6px 18px;
    margin-right: 10px;

    &::placeholder {
      font-family: inherit;
      font-size: inherit;
      color: currentColor;
    }
  }
  &__btn {
    flex-shrink: 0;
  }
  :valid {
    border-color: rgba(clr(title-color), 0.7);
  }
  :invalid {
    border-color: red;
  }
}
/* *******************************
BREADCRUMBS
******************************* */
.breadcrumbs {
  padding: 14px 0;
  background-color: rgba(clr(footer-bg-color), 0.5);
  &__list {
    display: flex;

    &-item:not(:last-child) {
      padding-right: 4px;

      &::after {
        content: "/";
        margin-left: -4px;
      }
    }

    &-link {
    }
  }
}
/* *******************************
SLICK-DOTS
******************************* */

/* *******************************
COLLECTION
******************************* */

/* *******************************
EMAIL LINK
******************************* */

/* *******************************
FEEDBACK
******************************* */
