@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
/* *******************************
HEADER
******************************* */
.header {
  padding: 44.5px 0;

  &__nav {
    display: flex;
    align-items: center;
    padding-left: 30px;
  }

  &__logo {
    margin: 0 auto;
    &.logo {
      width: 97px;
      height: 31px;
    }
  }

  &__btn {
    padding-left: 15px;
    fill: clr(black-color);
    &-icon {
      display: block;
      width: 37px;
      height: 29px;
    }
  }
}
/* *******************************
NAVIGATION
******************************* */

/* *******************************
RIGHT-SIDEBAR
******************************* */

/* *******************************
FOOTER
******************************* */
.footer {
  &__top {
    padding: 60px 0 80px;
    background-color: clr(footer-bg-color);
  }
  &__top-container {
    display: flex;
  }
  &__top-contact {
    flex-basis: 50%;
    padding-right: 15px;
  }
  &__top-title,
  &__top-lead {
    margin-bottom: 15px;
  }
  &__top-lead {
    max-width: 480px;
  }
  &__top-contact-link {
    display: inline-flex;
    font-size: fz(xs);
    font-weight: fw(semi-bold);
    color: clr(title-color);
    margin-bottom: 22px;
  }
  &__top-social,
  &__top-menu {
    flex-basis: 25%;
  }
  &__top-social,
  &__top-menu {
    padding-left: 8.9% !important;
  }
  &__copy {
    padding: 40px 0;
    background-color: clr(title-color);
  }
  &__copy-text {
    text-align: center;
    color: clr(title-decor);
  }
}
.sub-menu {
  &__item:not(:last-child) {
    margin-bottom: 15px;
  }
  &__link {
    display: flex;
    align-items: center;
    font-size: fz(xs);
    font-weight: fw(semi-bold);
    color: clr(social-color);
    svg {
      margin-right: 12px;
    }
  }
}
.icon-email {
  width: 16px;
  height: 16px;
  color: clr(title-color);
  margin-right: 15px;
}
.icon-facebook,
.icon-instagram,
.icon-pinterest,
.icon-whatsapp,
.icon-youtube {
  width: 16px;
  height: 18px;
  color: clr(social-color);
}

/* *******************************
CRUMBS
******************************* */

/* *******************************
ABOUT
******************************* */

/* *******************************
PROMO
******************************* */

/* *******************************
NEW COLLECTION
******************************* */

/* *******************************
DECOR
******************************* */

/* *******************************
HOW IT WORKS
******************************* */

/* *******************************
GALLERY
******************************* */

/* *******************************
BLOG BOX
******************************* */

/* *******************************
POST PREVIEW
******************************* */

/* *******************************
MUSE
******************************* */

/* *******************************
PARTNERS
******************************* */

/* *******************************
CONTACT
******************************* */
